/Taxually.TechnicalTest.UnitTests/bin
/Taxually.TechnicalTest.UnitTests/obj
/Taxually.TechnicalTest/bin
/Taxually.TechnicalTest/obj
.vs/Taxually.TechnicalTest/v17/TestStore/0/testlog.manifest
.vs/Taxually.TechnicalTest/v17/TestStore/0/000.testlog
/.vs
